/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
    color: #0000FF;
}

.btn-primary {
    color: #fff;
    background-color: #ADD8E6;
    border-color: #4169E1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ADD8E6;
    border-color: #4169E1;
}

.border-top {
    border-top: 1px solid #87CEEB;
}
.border-bottom {
    border-bottom: 1px solid #87CEEB;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.faq-item h4:hover {
    color: #007bff;
    transition: 0.3s;
}

.faq-item p {
    margin-left: 15px;
}

.container h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #007bff;
    margin: 10px auto;
    border-radius: 3px;
}
