@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">About This System</h1>
    <p class="lead text-center">
        The Complaint Management System (CMS) is a web-based project developed for the SWC3633 Web API Development course.
        This system was created to simplify the process of handling complaints by allowing users to submit issues online, staff to manage 
        and update complaint statuses, and administrators to oversee all activities.
        It demonstrates the practical use of web technologies and database integration to improve communication and efficiency within an organization.
    </p>
    <p class="lead text-center">
        This project was built using ASP.NET Core MVC and SQL Server, following a multi-role access structure.
        This project was developed together with my partner Dalily. 
        We shared the same backend structure but created different interfaces and front-end designs to 
        showcase our individual approaches and creativity in system development.
    </p>
</div>
