@{
    ViewData["Title"] = "FAQ";
}

<!-- FAQ Section -->
<div class="container mt-5 mb-5 p-4 rounded shadow-lg" style="background-color: #D3D3D3;">
    <h1 class="text-center mb-4" style="color: #007bff;">💬 Frequently Asked Questions</h1>

    <div class="faq-item mb-4; lead text-center">
        <h4 style="color: #343a40;">1. Who can use this system?</h4>
        <p style="color: #555;">Anyone who wants to submit a complaint or provide feedback about facilities or services can use this system easily and securely.</p>
    </div>

    <div class="faq-item mb-4; lead text-center">
        <h4 style="color: #343a40;">2. How can staff update complaint status?</h4>
        <p style="color: #555;">Authorized staff can log in to their account and access the <strong>“Edit”</strong> option from the complaint list to update status or add remarks.</p>
    </div>

    <div class="faq-item mb-4; lead text-center">
        <h4 style="color: #343a40;">3. What technologies are used?</h4>
        <p style="color: #555;">This system is built using <strong>ASP.NET Core MVC</strong> and <strong>C#</strong> for the backend, with <strong>SQL Server</strong> managing the database efficiently.</p>
    </div>

    <div class="faq-item mb-4; lead text-center">
        <h4 style="color: #343a40;">4. Can I delete a complaint?</h4>
        <p style="color: #555;">Only the <strong>Admin</strong> has the authority to delete complaints after reviewing their details to maintain data integrity.</p>
    </div>

    <div class="faq-item mb-4; lead text-center">
        <h4 style="color: #343a40;">5. Can I track my complaint after submission?</h4>
        <h5><p sytle="color: #555;"><strong>Yes</strong>,once you submit a complaint, and you can view its current status anytime through the Dashboard Complaints page.</p></h5>
    </div>
    
    <div class="text-center mt-4">
        <p style="color: #555;">Still have questions? Contact our support team for help.</p>
    </div>

</div>